<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="CyberWatch - Sistema de Gestión de Incidentes de Ciberseguridad" />
  <meta name="author" content="Equipo CyberWatch" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', path='images/logo.png') }}" />
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', path='images/logo.png') }}" />
  <title>{% block title %}CyberWatch{% endblock %} | CyberWatch</title>
</head>
<body class="login-page">
  {% block content %}{% endblock %}
</body>
</html>
